html{
  padding: 40px;
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

.title {
  font-size: 1.4em;
  font-family: sans-serif;
  color: #777;
}

.title b, .title strong {
  font-size: 1.1em;
  font-weight: bold;
  color: #f00;
}