<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default('Untitled Page') }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>{{ title | default('Welcome') }}</h1>
    </header>

    <main>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>


    <p>{{ lump }}</p>

    <footer>
        <p>&copy; {{ current_year }}</p>
    </footer>
</body>
</html>


