<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <style>
    </style>
</head>
<body>

<header><nav>

    {% include "_nav.html" %}

</nav></header>

<main>

<div>
<br>
{% include "_index_partial.html" %}
</div>

<div>

{% for page in all_pages %}
    <p>Site Index page attributes:<strong>{{page.url}}</strong></p>
    <ul>
        {% for key, value in page.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% endfor %}

</div>

</main>

<footer>

<div>

    {% include "_footer.html" %}

</div>

</footer>
        
</body>
</html>
